.dark .el-tabs__item{
    color: white;
}
.dark .el-tabs__nav{
    border-bottom: none !important;
}
.dark .el-button-group .el-button--info:not(:first-child):not(:last-child){
    border-color:rgba(255,255,255,0.3)
}
.dark .el-button-group .el-button--info:last-child {
    border-left-color: rgba(255, 255, 255, 0.3);
}
.dark .el-button--info{
    background: #2a3446;
    border-color: rgba(255, 255, 255, 0.3);;
}
.dark .el-button--info:hover, .el-button--info:focus{
    color: #FFFFFF;
    background-color: #3e4f66;
    border-color: rgba(255, 255, 255, 0.3);
}
.dark .el-progress__text{
    color: #f4f4f5;
}
